workflows/4P472PZn-WHQy1bGexu7k.json
{
  "updatedAt": "2026-02-02T10:51:07.403Z",
  "createdAt": "2026-02-02T09:02:27.305Z",
  "id": "4P472PZn-WHQy1bGexu7k",
  "name": "Workflow Github Backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -416,
        0
      ],
      "id": "32f75a9a-f5d4-44a4-adbd-09f3d59ff1c6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://n8n.secondsutra.com/api/v1/workflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -160,
        0
      ],
      "id": "e20c9f17-44fb-4471-a12b-706e594fe852",
      "name": "HTTP Request",
      "credentials": {
        "n8nApi": {
          "id": "jVRAufJkXnblO4UT",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/DEEPAK67578/test-n8n/git/ref/heads/main",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        0
      ],
      "id": "772443fc-b97e-4ca5-b353-ad9fcc106213",
      "name": "Get Tree Sha request",
      "credentials": {
        "githubApi": {
          "id": "i8NR2DkhxXvPjNxs",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/DEEPAK67578/test-n8n/git/commits/{{ $json.object.sha }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        0
      ],
      "id": "1e0259ec-f874-472f-8022-994ea050c684",
      "name": "Get base tree SHA",
      "credentials": {
        "githubApi": {
          "id": "i8NR2DkhxXvPjNxs",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const files = [];\n\nfor (const it of item.json.data) {\n  if (!it?.id) continue;\n\n  files.push({\n    path: `workflows/${it.id}.json`,\n    mode: \"100644\",\n    type: \"blob\",\n    content: JSON.stringify(it, null, 2),\n  });\n}\n\nreturn {\n    json: {\n      files\n    }\n  }\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        0
      ],
      "id": "e2ebf79a-5b7a-4251-9f0b-5fe8dabc30a6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/DEEPAK67578/test-n8n/git/trees",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"base_tree\": \"{{ $json.sha }}\",\n  \"tree\": {{ JSON.stringify($('Code in JavaScript').item.json.files )}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        816,
        0
      ],
      "id": "c08b39cd-6485-448b-9f3c-c7a702c1c009",
      "name": "Post Tree Value",
      "credentials": {
        "githubApi": {
          "id": "i8NR2DkhxXvPjNxs",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/DEEPAK67578/test-n8n/git/commits",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"n8n workflow backup {{$now}}\",\n  \"tree\": \"{{ $json.sha }}\",\n  \"parents\": [\"{{ $('Get Tree Sha request').item.json.object.sha }}\"]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1104,
        0
      ],
      "id": "a698db60-cbe7-4311-9aec-7a3ecde17a50",
      "name": "Commit Message",
      "credentials": {
        "githubApi": {
          "id": "i8NR2DkhxXvPjNxs",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/DEEPAK67578/test-n8n/git/refs/heads/main\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sha\": \"{{ $json.sha }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1360,
        0
      ],
      "id": "c119dcf1-fe0e-43fd-9fda-e234183e8add",
      "name": "Push Commit",
      "credentials": {
        "githubApi": {
          "id": "i8NR2DkhxXvPjNxs",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tree Sha request": {
      "main": [
        [
          {
            "node": "Get base tree SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get base tree SHA": {
      "main": [
        [
          {
            "node": "Post Tree Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get Tree Sha request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Tree Value": {
      "main": [
        [
          {
            "node": "Commit Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit Message": {
      "main": [
        [
          {
            "node": "Push Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "18bfd659-3ade-4a28-8bd1-d9e8a1e486fe",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-02T09:02:27.318Z",
      "createdAt": "2026-02-02T09:02:27.318Z",
      "role": "workflow:owner",
      "workflowId": "4P472PZn-WHQy1bGexu7k",
      "projectId": "dNAUCjIYq35LX4Np"
    }
  ],
  "activeVersion": null,
  "tags": []
}